.places {
  display: flex;
  flex-direction: column;
  row-gap: 80px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .places {
    row-gap: 73px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    row-gap: 50px;
  }
}
