.page__footer {
  margin: 92px auto 24px;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page__footer {
    margin: 88px auto 24px;
  }
}

@media screen and (max-width: 767px) {
  .page__footer {
    margin: 64px auto 24px;
  }
}
